<html>
    <head>
        <title>kate's blog</title>
    </head>
    <body>
        <h1>Kate's Blog</h1>
        <h2>DjangoGirls Workshop</h2>
        
        <p>This Blog was created and deployed during Kiev DjangoGirls event, May 16. 2015. You are welcome to google all the details and join the activity next time :-)</p>
        
        {% for post in posts%}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaks }}</p>
                <p>published: {{ post.published_date }}</p>

            </div>
        {% endfor %}
        
    </body>
</html>
